{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post">
  <label>Benutzername:</label>
  <input type="text" name="username" required>
  <label>Passwort:</label>
  <input type="password" name="password" required>
  <button type="submit">Login</button>
</form>
<p style="text-align: right; font-size: 0.9rem; margin-top: 20px;">
  <a href="{{ url_for('auth.register') }}" style="text-decoration: none; opacity: 0.7;">Registrieren</a>
</p>
{% endblock %}